/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
:root{
  --bg: #f6f8fa;
  --paper: #ffffff;
  --text: #0b1b2b;
  --muted: #6b7f8f;
}

html,body,#root {
  height: 100%;
  margin: 0;
  font-family: Inter, Roboto, Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background 240ms ease, color 200ms ease;
}

main {
  padding: 24px;
}

body.theme-dark{
  --bg: #0f1720;
  --paper: #0b1220;
  --text: #e6eef8;
  --muted: #6f8da0;
}

.MuiPaper-root{
  background: var(--paper) !important;
}

